In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('STI_MOVIMENTO_2023_12.csv', delimiter=';', encoding='latin-1')

In [11]:
df.head(10)

,UF_ATENDIMENTO,TIPO,CLASSIFICACAO,NACIONALIDADE,TOTAL
0,AC,ENTRADA,PERMANENTE,BOLÍVIA,17
1,AC,ENTRADA,PERMANENTE,CHILE,1
2,AC,ENTRADA,PERMANENTE,COLÔMBIA,3
3,AC,ENTRADA,PERMANENTE,CUBA,1
4,AC,ENTRADA,PERMANENTE,ESPANHA,2
5,AC,ENTRADA,PERMANENTE,HAITI,4
6,AC,ENTRADA,PERMANENTE,PERU,68
7,AC,ENTRADA,PERMANENTE,PORTUGAL,4
8,AC,ENTRADA,PERMANENTE,URUGUAI,1
9,AC,ENTRADA,PERMANENTE,VENEZUELA,16

In [12]:
df.tail(10)

,UF_ATENDIMENTO,TIPO,CLASSIFICACAO,NACIONALIDADE,TOTAL
11382,SP,SAIDA,TEMPORÁRIO,URUGUAI,4
11383,SP,SAIDA,TEMPORÁRIO,VENEZUELA,3
11384,SP,SAIDA,TEMPORÁRIO,VIETNÃ,1
11385,SP,SAIDA,TEMPORÁRIO,ZIMBÁBUE,5
11386,SP,SAIDA,TEMPORÁRIO,ÁFRICA DO SUL,24
11387,SP,SAIDA,TEMPORÁRIO,ÁUSTRIA,10
11388,SP,SAIDA,TEMPORÁRIO,ÍNDIA,55
11389,SP,SAIDA,OUTROS,BRASIL,#####
11390,SP,SAIDA,OUTROS,CHILE,1
11391,SP,SAIDA,OUTROS,PARAGUAI,1