# Para o trabalho da disciplina Introdução a Ciência de Dados, será feita uma análise exploratória a partir de um banco de dados de livre escolha. Para tal trabalho foi escolhida movimentação de tréfego internacional referente ao mês de dezembro do ano de 2023, a partir de dados coletados em relação ao Brasil.

## Em primeira instância foram importadas as bibliotecas necessária para leitura do arquivos, cálculos matemáticos e construção de gráficos

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Com a biblioteca pandas foi possível a leitura do banco de dados disponível em ("https://servicos.dpf.gov.br/dadosabertos/STI/"), e assim foi criado um dataframe.

In [7]:
df_sti = pd.read_csv('STI_MOVIMENTO_2023_12.csv', delimiter=';', encoding='latin-1')

## Para verificação do carregamento correto de todos os dados no dataframe foram utilizados os comandos head() e tail(), que permitem a visualização dos primeiros e ultimos dados do dataframe, respectivamente.

In [8]:
df_sti.head(10)

,UF_ATENDIMENTO,TIPO,CLASSIFICACAO,NACIONALIDADE,TOTAL
0,AC,ENTRADA,PERMANENTE,BOLÍVIA,17
1,AC,ENTRADA,PERMANENTE,CHILE,1
2,AC,ENTRADA,PERMANENTE,COLÔMBIA,3
3,AC,ENTRADA,PERMANENTE,CUBA,1
4,AC,ENTRADA,PERMANENTE,ESPANHA,2
5,AC,ENTRADA,PERMANENTE,HAITI,4
6,AC,ENTRADA,PERMANENTE,PERU,68
7,AC,ENTRADA,PERMANENTE,PORTUGAL,4
8,AC,ENTRADA,PERMANENTE,URUGUAI,1
9,AC,ENTRADA,PERMANENTE,VENEZUELA,16

In [9]:
df_sti.tail(10)

,UF_ATENDIMENTO,TIPO,CLASSIFICACAO,NACIONALIDADE,TOTAL
11382,SP,SAIDA,TEMPORÁRIO,URUGUAI,4
11383,SP,SAIDA,TEMPORÁRIO,VENEZUELA,3
11384,SP,SAIDA,TEMPORÁRIO,VIETNÃ,1
11385,SP,SAIDA,TEMPORÁRIO,ZIMBÁBUE,5
11386,SP,SAIDA,TEMPORÁRIO,ÁFRICA DO SUL,24
11387,SP,SAIDA,TEMPORÁRIO,ÁUSTRIA,10
11388,SP,SAIDA,TEMPORÁRIO,ÍNDIA,55
11389,SP,SAIDA,OUTROS,BRASIL,#####
11390,SP,SAIDA,OUTROS,CHILE,1
11391,SP,SAIDA,OUTROS,PARAGUAI,1

In [10]:
len(df_sti)

11392

In [12]:
df_sti.shape

(11392, 5)

In [13]:
df_sti.shape[1]

5

In [15]:
len(df_sti.columns)

5

In [16]:
df_sti.columns

Index(['UF_ATENDIMENTO', 'TIPO', 'CLASSIFICACAO', 'NACIONALIDADE', 'TOTAL'], dtype='object')

In [17]:
df_sti.sort_values(by='TOTAL', ascending=False, inplace=True)

In [18]:
df_sti

,UF_ATENDIMENTO,TIPO,CLASSIFICACAO,NACIONALIDADE,TOTAL
6729,RJ,SAIDA,OUTROS,CHILE,998
10239,SP,SAIDA,VISITANTE,RÚSSIA,997
8726,SP,ENTRADA,PERMANENTE,PORTUGAL,992
3665,PA,SAIDA,VISITANTE,ESTADOS UNIDOS,990
9892,SP,ENTRADA,TEMPORÁRIO,CHINA,99
...,...,...,...,...,...
8329,SC,SAIDA,VISITANTE,ARGENTINA,#####
3045,MG,ENTRADA,OUTROS,BRASIL,#####
6025,RJ,ENTRADA,OUTROS,BRASIL,#####
6133,RJ,SAIDA,VISITANTE,ARGENTINA,#####
10163,SP,SAIDA,VISITANTE,ESTADOS UNIDOS,#####

In [19]:
df_sti.max()

UF_ATENDIMENTO                                          SP
TIPO                                               SAIDA
CLASSIFICACAO                                   VISITANTE
NACIONALIDADE     ÍNDIA
TOTAL                                                  998
dtype: object